.topBarContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 16px 24px;
  .logo {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    cursor: pointer;
  }
  .allProduct {
    font-size: 16px;
    line-height: 24px;
    color: #111111;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    margin-left: 60px;
    &:hover {
      &::after {
        width: 100%;
      }
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #000000;
      -webkit-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
    }
  }
  .searchRow {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    flex: 1;
    max-width: 400px;
    gap: 16px;
    .searchInput {
      width: 80%;
      max-width: 250px;
    }
    svg {
      font-size: 20px;
      cursor: pointer;
    }
  }
}
