@use '../../../scss/' as *;

.headerReview {
  display: flex;
  flex-direction: column;
  .headerReviewTop {
    width: 100%;
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    @include xs {
      margin-bottom: 8px;
    }
  }
  .content {
    color: $white;
    font-size: 14px;
    word-break: break-word;
  }
  .viewCount,
  .name,
  .date {
    color: white;
    cursor: pointer;
    font-size: 14px;
  }

  .follow {
    span {
      color: white;
      cursor: pointer;
      font-size: 14px;
    }
    font-size: 12px;
  }

  .viewCount {
    svg {
      margin-right: 4px;
    }
  }

  .divBtn {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    @include xs {
      justify-content: flex-start;
    }
    .btn {
      background-color: $bg-button;
      &:hover {
        border: 1px solid $bg-button-hover;

        color: $white;
      }
    }
  }
}
