@use '../../../scss/' as *;

.rootReviewItem {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  margin-top: 24px;
  gap: 4px;
  border-radius: 12px;
  background-color: $bg-header;
  padding: 8px;
  width: 100%;

  @include mobile {
    padding: 16px;
  }

  @include tablet {
    padding: 24px;
  }
  @include desktop {
    padding: 36px;
    max-width: 850px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .listLink {
    display: flex;
    gap: 1.5px;
    flex-wrap: wrap;
  }
  .content,
  .name,
  .date {
    color: white;
    cursor: pointer;
    font-size: 14px;
  }

  .imgGroup {
    width: 100%;
  }
  .colRight {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .imgReview {
      overflow: hidden;
      width: 100%;
      img {
        height: 100%;
      }
    }
  }

  .colLeft {
    overflow: hidden;
    .imageLeft {
      padding-right: 4px;
      height: 100%;
    }
  }
  .rowCount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    .rowCountLike,
    .rowCountCommentShare {
      display: flex;
      gap: 12px;
      .like,
      .original,
      .comment,
      .dislike {
        display: flex;
        color: white;
        gap: 8px;
        font-size: 15px;
        svg {
          font-size: 20px;
        }
      }

      .original {
        cursor: pointer;
      }
    }
  }
  .rowAction {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    .actionLike,
    .actionDislike,
    .actionComment,
    .actionShare {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      font-size: 15px;
      padding: 8px;
      cursor: pointer;
      svg {
        font-size: 20px;
      }
      &:hover {
        background-color: $bg-hover;
        border-radius: 4px;
      }
    }
  }
  .divider {
    margin: 8px 0;
  }
}
