@use '../../../scss/' as *;

.formSearch {
  display: flex;
  flex-direction: column;
  .listFilterSearch {
    display: flex;
    margin-top: 12px;
    .rowSearch {
      min-width: 220px;
      margin-right: 12px;
    }
  }
  .listFilterAction {
    display: flex;
    gap: 24px;
  }
}
