@use '../../scss/' as *;

.form {
  overflow-x: hidden;
}
.listUser {
}

.action {
  display: flex;
  align-items: center;
  gap: 12px;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
