@use '../../../scss/' as *;

.form {
  width: 100%;
  margin: 8px 0;
  @include mobile {
    margin-top: 24px;
  }

  .itemForm {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;

    .rowSearch {
      width: 50%;
      @media screen and (max-width: $desktop-width) {
        width: 100%;
      }
    }
  }

  .button {
    height: 40px;
    width: fit-content;
    background: $bg-button;
    color: $white;
    font-size: 16px;
    &:hover {
      color: $white;
    }
    margin-right: 16px;
  }
  :global {
    .ant-form-item {
      margin-bottom: 12px;
    }
    .ant-space {
      width: 100%;
    }
    .ant-space-item {
      .ant-form-item {
        width: 100%;
        max-width: 330px;
      }
    }
    .ant-picker {
      width: 100%;
      max-width: unset;
    }
  }

  @media screen and (max-width: $tablet-width) {
    :global {
      .ant-form-item {
        max-width: 100%;
      }
    }
  }
}
