//background color

$body-bg: white;
$rating-color: red;
$un-rating-color: #909090;
$bg-hover: rgb(58, 59, 60);
$bg-header: #202020;
$bg-button: #1677ff;
$bg-button-hover: #6a6a6a;
$bg-input-focus: #3ea6ff;
$bg-input: white;
$bg-date: #fff3cd;
$bg-pagination: #444;
$white: white;
$bg-category: #222;
$bg-side-bar: #545355;
$bg-menu-side-focus: rgb(65, 64, 66);

$bg-border-input: #d8d8d8;
$bg-gray: #e5e5e5;
// text
$txt-color: #292d32;
$text-color-link: #3ea6ff;
$txt-comment: #bfbfbf;
$txt-side-bar: #aab3be;

//
$gray-1: #1d2319;
$gray-1_1: #3c3c3c;
$gray-2: #565656;
$gray-3: #878b87;
$gray-4: #d3d3d3;
$gray-5: #e9eae8;
$gray-6: #f8f8f8;
$gray-7: #ffffff;
$gray-8: #f4f4f4;
$gray-9: #888888;

// break point;
$mobile-width: 576px;

$tablet-width: 768px;

$desktop-width: 992px;

$pc-width: 1200px;

$large-pc-width: 1400px;

$font-family: 'Montserrat', sans-serif;
