@use '../../scss/' as *;

.rowLabel {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 4px;
  .title {
    color: $txt-color;

    font-size: 14px;
  }
  .require {
    color: $rating-color;
  }
}
